.movie-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 2000px;
    padding: 20px;
    margin: 0 auto;
    background-color: #0f2c43;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-title {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
    color: #a70000;
}

.movie-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-media{
    display: flex;
    justify-content: space-between;
}

.movie-poster {
    width: 100%;
    max-width: 300px;
    max-height: 450px;
    border-radius: 10px;
    margin-top: 66px;
    margin-right: 25px;
}

.movie-trailer {
    text-align: center;
}

.movie-trailer h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffffff;
}

.movie-trailer iframe {
    width: 100%;
    width: 720px;
    height: 450px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.movie-overview {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-align: justify;
    color: #ffffff;
}

.movie-release-date {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #ffffff;
}

.movie-actors {
    margin-bottom: 20px;
    text-align: center;
}

.movie-actors h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.movie-actors ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-actors li {
    margin: 5px 10px;
    font-size: 1.1em;
    color: #555;
}

.movie-genres {
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    text-align: left;
}

.genres-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.genre-tag {
    background-color: #ACC8E5;
    color: #112A46;
    padding: 5px 10px;
    max-height: 30px;
    border-radius: 5px;
    font-size: 0.9em;
    display: inline-block;
    
}